.col-md-4
  #stock-tickers-wrapper
    %h3.title
      = t('stock_ticker_title')
    .input-days-wrapper
      = number_field_tag :days, nil, class: 'form-control', placeholder: t('placeholder_input_days')
    .list-group
      = cache @stock_tickers do
        = render @stock_tickers
    .pagination
      = paginate @stock_tickers
.col-md-8
  #stock-prices-chart-wrapper